---
id: add_ons
tracked_title: Add-Ons
section: products
posted: 2015-12-23

title: Add-Ons
sub_title: |
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque interdum
  ligula sagittis tincidunt sagittis.

benefits:
  - benefit:
    type: definition-list
    title: New Relic Server Monitoring
    description:
  - benefit:
    type: definition-list
    title: Alert Logic IDS
    description:
  - benefit:
    type: definition-list
    title: ThreatStack IDS
    description:
  - benefit:
    type: definition-list
    title: AWS VPC Peering
    description:
  - benefit:
    type: definition-list
    title: Additional stacks
    description:
---
<div class="container">
  {{> feature_benefits}}
</div>
