---
id: managed_databases
tracked_title: Managed Databases
section: products
posted: 2015-12-23

title: Managed Databases
sub_title: |
  Set up, operate, and securely scale the mosts popular open source relational
  databases in the cloud.

benefits:
  - benefit:
    type: definition-list
    title: At-rest volume encryption (AES-192, key-per-volume, managed keys, etc.)
    description:
  - benefit:
    type: definition-list
    title: Encryption in transit (SSL)
    description:
  - benefit:
    type: definition-list
    title: Role-based access controls
    description:
  - benefit:
    type: definition-list
    title: Automatic multi-region backups
    description:
  - benefit:
    type: definition-list
    title: Uptime monitoring, 24/7 ops team
    description:
  - benefit:
    type: definition-list
    title: Managed disaster recovery
    description:
  - benefit:
    type: definition-list
    title: Blazing fast performance, backed by SSD volumes
    description:
  - benefit:
    type: definition-list
    title: Dead simple HA replication (coming soon)
    description:
---
<div class="container">
  {{> feature_benefits}}
</div>
