---
title: Managed Network Infrastructure
tracked_title: Managed Network Infrastructure
id: managed_network_infrastructure
posted: 2015-12-23
section: products

benefits:
  - benefit:
    type: text-hero
    style-options: bordered
    title: |
      Each PHI-ready Aptible stack is deployed into a secure, managed network. As a customer, you receive your own AWS Virtual Private Cloud, with dedicated infrastructure resources.

  - benefit:
    type: text-hero
    title: Automation
    description: |
      Our operations team monitors your stack 24/7 and resolves most issues before you are even aware of them.


  - benefit:
    type: definition-list
    title: Demilitarized zone (DMZ)
    description: |
      External-facing services such as apps and backend access endpoints are segregated from databases and other internal services. Dual firewalls separate external and internal subnets.
  - benefit:
    type: definition-list
    title: Data loss protection (DLP)
    description: Configure outbound traffic rules to prevent unauthorized data exfiltration.
  - benefit:
    type: definition-list
    style-options: bordered
    title: Audited SSH access
    description: All backend access events are logged and audited, both for your team and the Aptible ops team.


  - benefit:
    type: benefit-list
    title: Security Features
    benefit-list:
      - benefit:
        title: Demilitarized zone (DMZ)
        description: |
          External-facing services such as apps and backend access endpoints are segregated from databases and other internal services. Dual firewalls separate external and internal subnets.
      - benefit:
        title: Data loss protection (DLP)
        description: Configure outbound traffic rules to prevent unauthorized data exfiltration.
      - benefit:
        title: Audited SSH access
        description: All backend access events are logged and audited, both for your team and the Aptible ops team.
---
<div class="container">
  {{> feature_benefits}}
</div>
