---
title: Managed Network Infrastructure
tracked_title: Managed Network Infrastructure
id: managed_network_infrastructure
description: Each PHI-ready Aptible stack is deployed into a secure, managed network. As a customer, you receive your own AWS Virtual Private Cloud, with dedicated infrastructure resources.
posted: 2015-12-23

benefits:
  - benefit:
    title: Automation
    description: |
      Our operations team monitors your stack 24/7 and resolves most issues before you are even aware of them.  
  - benefit:
    title: "Security features:"
    description: |
      - Demilitarized zone (DMZ): External-facing services such as apps and backend access endpoints are segregated from databases and other internal services. Dual firewalls separate external and internal subnets.
      - Data loss protection (DLP): Configure outbound traffic rules to prevent unauthorized data exfiltration.
      - Audited SSH access: All backend access events are logged and audited, both for your team and the Aptible ops team.
---
<div class="container main-content">
  <div class="row section">
    <div class="col-sm-12 text-center">
      {{description}}
    </div>
  </div>
  {{> feature_benefits}}
</div>
